{% extends "layout.html" %}

{% block content %}
<div class="about-wrapper">
<div class="about">
<p>Welcome to pohS yM|My Shop. </p>
<p>pohS yM is a reversed word of My Shop. This website has been created for a school project and is intended to be used for educational purposes only. This site is an e-commerce website that sells school supplies. The goods or products that you may find whilst on this site are not on any way are being sold via this website. Each product information such as images and descriptions used on this site are taken from the product's respective manufacturer website and can be accessed by viewing a particular product and clicking "more info". </p>

<p>Thank you for visiting pohS yM and enjoy your browsing. </p>
</div>
</div>
{% endblock content %}